<nav class="my-nav p-3 px-md-4 navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Админ-панель</a>
  <button (click)="openMenu()" class="navbar-toggler" type="button" data-toggle="collapse"
    data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
   
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup" >
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="#">Сотрудники</a>
      <a class="nav-item nav-link" href="#">Комментарии</a>
      <a class="nav-item nav-link" href="#">Дашборд</a>
    </div>
  </div>
</nav>
<div class="flex-column align-items-center p-3 bg-light" *ngIf="addMenu">
    <a class="nav-item nav-link text-center txt-dark-bread" href="#">Сотрудники</a>
    <a class="nav-item nav-link text-center txt-dark-bread" href="#">Комментарии</a>
    <a class="nav-item nav-link text-center txt-dark-bread" href="#">Дашборд</a>
    <br>
</div>